/beginner-series-school-paperwork
/calculate-BMI
/century-from-year
/check-the-exam
/differences-of-volumes-of cuboids
/fake-binary
/find-the-position
/fixMe-replace-all-dots
/grasshopper-personalized-message
/grasshopper-variable-assignment-debug
/multiply
/reverse-string
/reverse-word
/sum-of-positive